/* font-related-style */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
}
/* nav-related-style */
.navbar{
    background-color: #1A0B2E;
}
.nav-content{
    padding:0px 200px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid #412567;
}
.nav-logo h2{
    font-size: 2.81rem;
    font-weight:900px;
    color: #FFFFFF;
}
.nav-logo .gradient{
    background-image: linear-gradient(-705deg,rgba(247, 233, 63, 1),rgb(208, 31, 155),rgba(145, 0, 248, 1));
    color: transparent;
    background-clip: text;
}
.nav-menu{
    display: flex;
    gap: 50px;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
     font-size: 1rem;
     font-weight:400px;
     color: #FFFFFF;
}
.nav-btn button{
    border: none;
    border-radius: 10000px;
    background-image: linear-gradient(to top right,rgba(247, 233, 63, 1),rgb(208, 31, 155),rgba(145, 0, 248, 1));
    padding: 12px 16px;
    font-size: 1rem;
    font-weight:600px;
    color: #FFFFFF;
    cursor: pointer;
}
.nav-btn button i{
    margin-left: 5px;
}
.hamburger-icon{
    display: none;
}
/* banner-related-img */
.banner{
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner-container{
    width: 35%;
    margin: 0px auto;
    padding: 101px 0px;
    text-align: center;
}
.circle-img{
    margin: 0px auto 0px auto;
    height: 420px;
    width: 420px;
    background-image: url('../assets/hero-circle.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
.microphone-img{
    position: absolute;
    margin-top: 120px;
    margin-left: 150px; 
    animation: chorki 3s infinite linear;
}
@keyframes chorki {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.badge-btn{
    border: none;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    background-color: #00FF88;
    padding: 8px 16px;
    font-size: 1.12rem;
    font-weight: 600px;
    color: #1A0B2E;
    margin-left: 300px;
    margin-top: 30px;
    cursor: pointer;
    animation: pulse 3s infinite;
}
@keyframes pulse {
  0% {
    background-color: #00FF88;
  }
  100% {
    background-image:linear-gradient(to top right,rgba(247, 233, 63, 1),rgb(208, 31, 155),rgba(145, 0, 248, 1));
    color: white;
  }
}
.banner-heading{
    font-size: 3.75rem;
    font-weight: ExtraBold;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 24px;
}
.banner-description{
    font-size: 1rem;
    font-weight: 400px;
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 24px;
}
.banner-btn-1{
     border: none;
    border-radius: 10000px;
    background-image: linear-gradient(to top right,rgba(247, 233, 63, 1),rgb(208, 31, 155),rgba(145, 0, 248, 1));
    padding: 12px 20px;
    font-size: 1rem;
    font-weight:600px;
    color: #FFFFFF;
    margin-right: 5px;
    cursor: pointer;
}
.banner-btn-1 i{
    margin-right: 5px;
}
.banner-btn-2 i{
    margin-right: 5px;
}
.banner-btn-2{
    border: 1px solid #00FF88;
    background-color: transparent;
    border-radius: 10000px;
    color: #00FF88;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight:600px;
    cursor: pointer;
}
/* About-section-related-style */
.about-section{
    background-color: #1A0B2E;
}
.about-container{
    width: 75%;
    margin: 0px auto;
    padding: 30px 0px 120px 0px;
}
.about-content{
    text-align: center;
}
.about-heading{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-transform: capitalize;
}
.description-1{
    margin-bottom: 40px;
}
.description-1,.description-2{
    font-size: 1rem;
    font-weight: 100px;
    color: #eee8e8;
    line-height: 30px;
}
hr{
    border: 1px solid #281740;
    margin-top: 70px;
    margin-bottom: 30px;
}
.about-items{
    display: grid;
    gap: 80px;
    justify-items: center;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}
.item-rating{
    font-size: 3rem;
    font-weight: bold;
    color: #00FF88;
    margin-bottom: 10px;
}
.rating-description{
    font-size: 1rem;
    font-weight: 400px;
    color:#FFFFFF;
    text-transform: uppercase;
}
/* why-choose-related-section */
.why-choose-section{
    background-color: #230E3D;
}
.why-choose-container{
    width: 75%;
    margin: 0px auto;
    padding:50px 0px 120px 0px;
}
.why-choose-heading{
    font-size: 3rem;
    font-weight: bold;
    color:#FFFFFF;
    text-align: center;
    margin-bottom: 40px;
}
.featured-card-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.premium-card{
    grid-column: span 1;
    grid-row: span 2;
}
.mobile-card{
    grid-column: span 2;
    grid-row: span 1;
}
.global-card{
    grid-column: span 2;
    grid-row: span 1;
}
.exclusive-card{
    grid-column: span 2;
    grid-row: span 1;
}
.rich-card{
    grid-column: span 1;
    grid-row: span 1;
}
.premium-card,.mobile-card,.global-card,.exclusive-card,.rich-card{
    border: none;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-img{
    margin-bottom: 10px;
}
.card-title{
    font-size: 1.5rem;
    font-weight: bold;
    color:#FFFFFF;
    margin-bottom: 16px;
}
.card-description{
    font-size: 1rem;
    font-weight: 400px;
    color:#FFFFFF;
    margin-top: 16px;
}
/* Featured episodes section related style */
.featured-episodes-section{
    background-color: #1A0B2E;
}
.featured-episodes-container{
    width: 75%;
    margin: 0px auto;
    padding: 70px 0px 60px 0px;
}
.featured-heading{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}
.featured-episodes-cards{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 30px;
}
.card{
    border: none;
    border-radius: 20px;
    background-color:  rgba(53, 17, 101, 0.4);
}
iframe{
    border-radius:20px 20px 0px 0px;
}
.card-content{
    padding:10px 50px;
}
.card-heading{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.card-sub-heading{
    font-size: 1rem;
    font-weight: 400px;
    color:#FFFFFF;
    margin-top: 15px;
    margin-bottom: 12px;
}
.card-duration{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 12px;
}
.time p{
    font-size: 1rem;
    font-weight: 600px;
    color: #00FF88;
}
/* host-section-related-style */
.host-section{
    background-color: #1A0B2E;;
}
.host-section-container{
    width: 75%;
    margin: 0px auto;
    padding:60px 0px 120px 0px;
}
.host-container{
    background-color: rgba(53, 17, 101, 0.4);
    border: none;
    border-radius: 40px;
    padding: 40px 70px;
    display: flex;
    gap: 25px;
    align-items: center;
}
.host-title{
    font-size: 3rem;
    font-weight: bold;
    color:#FFFFFF;
    margin-bottom: 40px;
    text-align: center;
}
.host-name{
    font-size: 2rem;
    font-weight: bold;
    color:#FFFFFF;
    margin-bottom: 16px;
}
.biography{
    font-size: 1rem;
    font-weight: 400px;
    color:#FFFFFF;
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 25px;
}
.social-media-links{
    display: flex;
    gap: 8px;
    align-items: center;
}
.link{
    width: 30px;
    height: 30px;
    border: 1px solid #533C72;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Footer-related-styles */
#footer{
    background-image: url('../assets/footer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-container{
    width: 35%;
    margin: 0px auto;
    padding: 100px 0px;
    text-align: center;
}
.footer-brand{
    font-size: 3rem;
    font-weight:900px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer-brand .color{
    background-image: linear-gradient(-705deg,rgba(247, 233, 63, 1),rgb(208, 31, 155),rgba(145, 0, 248, 1));
    color: transparent;
    background-clip: text;
}
.information-cards{
    display: flex;
    gap: 72px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.footer-card{
    display: flex;
    align-items: center;
    gap: 8px;
}
.name{
    font-size: 1rem;
    font-weight: 400px;
    color:#FFFFFF;
}
.footer-line{
    margin-top: 20px;
}
.copyright{
     font-size: 1rem;
    font-weight: 400px;
    color:#FAFAFA;
}
/* small-device-Responsive */
@media screen and (max-width:576px) {
    .nav-content{
        padding:0px 20px 0px 20px;
    }
    .nav-logo h2{
        font-size: 2rem;
    }
    .nav-menu,.nav-btn{
        display: none;
    }
    .hamburger-icon{
        display: block;
    }
    .banner-container{
        width: 100%;
    }
    .circle-img{
    height: 350px;
    width: 350px;
}
.microphone-img img{
    width: 100px;
    margin-top: -20px;
    margin-left: -25px; 
}
.banner{
    background-size: 100% 100%;
}
   .banner-heading{
    font-size: 2.81rem;
   }
   .badge-btn{
    padding: 8px 16px;
    font-size: 1rem;
    margin-left: 220px;
    margin-top: 15px;
   }
   .banner-container{
    padding: 50px 0px 20px 0px;
   }
   .about-container{
    padding: 10px 0px 50px 0px;
}
.about-heading{
    font-size: 2.50rem;
}
   .about-items{
    gap: 20px;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
}
hr{
    margin-top: 30px;
    margin-bottom: 5px;
}
.item-rating{
    font-size: 2.50rem;
}
.why-choose-container{
    padding: 30px 0px 50px 0px;
}
.featured-card-container{
    grid-template-columns: 1fr;
    grid-template-rows: 300px;
    gap: 20px;
} 
.premium-card,.mobile-card,.global-card,.exclusive-card,.rich-card{
    grid-column: span 1;
    grid-row: span 1;
}
.why-choose-heading{
    font-size: 2.35rem;
    margin-bottom: 40px;
}
.card-img{
    margin-bottom: 5px;
}
.card-title{
    margin-bottom: 10px;
}
.card-description{
    margin-top: 10px;
}
.featured-episodes-cards{
   grid-template-columns: 1fr;
   gap: 30px;
}
.featured-episodes-container{
    padding: 30px 0px 30px 0px;
}
.featured-heading{
    font-size: 2.50rem;
}
.card-heading{
    font-size: 1.3rem;
    margin-bottom: 10px;
}
.card-sub-heading{
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-content{
    padding:5px 30px;
}
.card-duration{
    margin-top: 5px;
}
.host-container{
    padding: 40px 50px;
    flex-direction: column;
    gap: 2px;
    text-align: center;
}
.host-section-container{
    padding:10px 0px 50px 0px;
}
.host-title{
    font-size: 2.50rem;
    margin-bottom: 40px;
}
.social-media-links{
    justify-content: center;
}
#footer{
    background-size: 100% 100%;
    background-position: center;
}
.information-cards{
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.footer-brand{
    font-size: 2.50rem;
    margin-bottom: 10px;
}
.footer-container{
    width: 50%;
    padding: 1px 0px;
}
.footer-card{
    gap: 5px;
}
}
